body {
  padding-top: 59px;
}

img:hover {
  @include opacity(0.8);
  @include transition(opacity, 0.3s, ease-in-out);
}

// m-header

.m-header {
  @extend .d-flex;

  &__title {
    font-size: $h2-font-size;

    @include media-breakpoint-down(md) {
      font-size: $h4-font-size;
    }
  }

  &__viewmore {
    @extend .ml-auto;

    i {
      margin-right: ($spacer * 0.25);
    }
  }
}

// overlay

.overlay,
.overlay-play {
  background: rgba($black, 0.2);
  top: 0;
  left: 0;
  z-index: 1;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .position-absolute;
  @include opacity(0);
  @include transition(all, 0.3s, ease-in-out);
  @include size(100%);
}

.overlay-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.overlay--no-opacity {
  @include opacity(1);
}

.overlay-play {
  font-size: 3em;
  z-index: 2;

  i {
    color: $white;
  }
}

// main

.main {
  padding: 20px 0;
}
