doctype 5
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/assets/styles/styles.css")
    title
      block title
  body
    include ../components/_header.pug

    .container
      block content

    script(src="/assets/scripts/jquery-3.3.1.slim.min.js")
    script(src="/assets/scripts/popper.min.js")
    script(src="/assets/scripts/bootstrap.min.js")
