doctype 5
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../assets/styles/styles.css")
    title Music
  body
    include ../components/_header.pug

    .container
      block content
