footer.footer
  .container
    .row
      .col-md-12
        h3
          a(href="#") Music
      .col-md-12
        ul.nav
          each data in navbar_menu
            +navbar_menu(data)
      .col-md-12
        p.footer__copyright &copy; 2019 iNeo
