footer.footer
  .container
    .row
      .col-md-12
        h3
          a(href="#") Music
      .col-md-12
        ul.nav
          li.nav-item
            a.nav-link(href='#') Trang chủ
          li.nav-item
            a.nav-link(href='#') TOP 100
          li.nav-item
            a.nav-link(href='#') Chủ đề
          li.nav-item
            a.nav-link(href='#') Album
      .col-md-12
        p.footer__copyright &copy; 2019 iNeo

