- var title = "Join our community";
- var text = "Music community is made of millions of music fans worldwide building the best for music 2";
- var btnName = "Get Started"

.jumbotron.text-center
  .container
    h1.display-4= title
    p.lead= text
    a.btn.btn-primary.btn-lg(href='#', role='button')= btnName
