extends ./layouts/layouts.pug

block title
  | Trang Chủ - Music

block append jumbotron
  include components/_jumbotron.pug

block content
  section.news-song
    +header-title("Bài hát mới")
      .m-header__viewmore
        a.btn.btn-sm.btn-primary(href="#")
          i.far.fa-play-circle
          | Nghe tất cả
    .row
      .news-song__left
        //- Iteration song
        - for (var i = 0; i < 5; i++) {
          +song(songs[i])
        - }
      .news-song__right
        - for (var i = 5; i < 10; i++) {
          +song(songs[i])
        - }
  section.news-album
    +header-title("Album mới")
      .m-header__viewmore
        a.btn.btn-sm.btn-primary(href="#")
          i.far.fa-play-circle
          | Xem thêm
    .row
      //- Iteration albums
      each data in albums
        +song-cover(data)
  section.m-topic
    +header-title("Chủ đề nổi bật")
      .m-header__viewmore
        a.btn.btn-sm.btn-primary(href="#")
          i.far.fa-play-circle
          | Xem thêm
    .row
      //- Iteration topics
      //- each data in topics
      //-   +topics(data)
      - const length = topics.length;
      - for (var i = 0; i < length; i++) {
          +topics(topics[i])
      - }
