block data
  //- Navbar menu
  -
    var
      navbar_menu = [
        {
          id: 'home',
          name: "Trang Chủ",
          link: '/'
        },
        {
          id: 'top100',
          name: "TOP 100",
          link: '/top100.html',
        },
        {
          id: 'topics',
          name: "Chủ đề",
          link: '/topics.html'
        },
        {
          id: 'albums',
          name: "Albums",
          link: '/albums.html'
        }
      ]
  //- song
  -
    var
      songs = [
        {
          name: 'Tận Cùng Nỗi Nhớ',
          singer: [
            {
              name: 'Will',
              link: 'singer.html'
            },
            {
              name: 'Han Sara',
              link: 'singer.html'
            }
          ],
          imgid: '93633',
          link: '/song.html',
          album: 'Tận Cùng Nỗi Nhớ (New Version)',
          authors: 'Andiez',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Anh là ai',
          singer: [
            {
              name: 'Phương Ly',
              link: 'phuong-ly.html'
            },
            {
              name: 'Người nào đó',
              link: 'nguoi-nao-do.html'
            }
          ],
          imgid: '99156',
          link: '/song.html',
          album: 'Anh Là Ai (Single)',
          authors: 'Kiên Trần',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Nơi mình dừng chân',
          singer: 'Mỹ Tâm',
          imgid: '99800',
          link: '/song.html',
          album: 'Chị Trợ Lý Của Anh',
          authors: 'Khắc Hưng',
          category: [ 'Nhạc Pop', 'Việt Nam' ]
        },
        {
          name: 'Forthenite',
          singer: [
            {
              name: 'D-block',
              link: 'singer.html',
            },
            {
              name: 'S-te-fan',
              link: 'singer.html'
            }
          ],
          imgid: '101029',
          link: '/song.html',
          album: 'Forthenite (Single)',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Done For Me',
          singer: [
            {
              name: 'Charlie Puth',
              link: 'singer.html'
            },
            {
              name: 'Kehlani',
              link: 'singer.html'
            }
          ],
          imgid: '85553',
          link: '/song.html',
          album: '',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Skyfall',
          singer: 'Adele',
          imgid: '26070',
          link: '/song.html',
          album: '',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Victory',
          singer: 'Two Steps From Hell',
          imgid: '40321',
          link: '/song.html',
          album: '',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Like A Snowflower',
          singer: 'Punch',
          imgid: '99388',
          link: '/song.html',
          album: '',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
        {
          name: 'Kataware Toki',
          singer: 'RADWIMPS',
          imgid: '68088',
          link: '/song.html',
          album: '',
          authors: '',
          category: [ 'Nhạc Nhật', 'Nhạc Pop' ]
        },
        {
          name: 'Polaris (ポラリス)',
          singer: 'Aimer',
          imgid: '71318',
          link: '/song.html',
          album: '',
          authors: 'Tobinai Masahiro',
          category: [ 'Nhạc Nhật', 'Nhạc Pop' ]
        },
        {
          name: 'Ex\'s Hate Me',
          singer: [
            {
              name: 'B Ray',
              link: 'singer.html'
            },
            {
              name: 'AMee',
              link: 'singer.html',
            },
            {
              name: 'Masew',
              link: 'singer.html'
            }
          ],
          imgid: '100672',
          link: '/song.html',
          album: 'Ex\'s Hate Me (Single)',
          authors: '',
          category: [ 'Nhạc Trẻ', 'Việt Nam' ]
        },
      ]

  //- Albums

  -
    var
      albums = [
        {
          name: 'The Growing Leaf',
          singer: 'Mons Lvnae',
          imgid: '101024',
          link: '#'
        },
        {
          name: 'In The End (Single)',
          singer: 'Tommee Profitt',
          imgid: '101025',
          link: '#'
        },
        {
          name: '(Reverse) (2019)',
          singer: 'Hồ Mộng Châu (胡梦周)',
          imgid: '101034',
          link: '#'
        },
        {
          name: 'Thói Quen (习惯) (2019)',
          singer: 'Hạ Uyển An(夏婉安)',
          imgid: '100959',
          link: '#'
        },
      ]

  //- tagcloud
  -
    var
      tagcloud = [
        {
          name: 'Acoustic',
          link: 'tag/acoustic.html'
        },
        {
          name: 'Hip-Hop/Rap',
          link: '#'
        },
        {
          name: 'Pop',
          link: '#'
        },
        {
          name: 'Classical',
          link: '#'
        },
      ]

  //- topics
  -
    var
      topics = [
        {
          name: 'Tình Yêu',
          link: '#',
          imgid: 'love'
        },
        {
          name: 'Nhạc Trẻ',
          link: '#',
          imgid: 'nhac-tre'
        },
        {
          name: 'Những Bài Hit',
          link: '#',
          imgid: 'hit-song'
        },
        {
          name: 'Nhạc Việt Bất Hủ',
          link: '#',
          imgid: 'nhac-viet-bat-hu'
        },
        {
          name: 'Nhạc Dance',
          link: '#',
          imgid: 'dance'
        },
        {
          name: 'Hôm nay nghe gì?',
          link: '#',
          imgid: 'today'
        },
        {
          name: 'Nhạc Hot',
          link: '#',
          imgid: 'nhac-hot'
        },
        {
          name: 'Thay lời muốn nói',
          link: '#',
          imgid: 'thay-loi-muon-noi'
        },
      ]
