block data
  //- song
  -
    var
      songs = [
        {
          name: 'Anh là ai',
          singer: 'Phương Ly',
          imgid: '99156',
          link: '#',
          album: 'Anh Là Ai (Single)',
          authors: 'Kiên Trần',
        },
        {
          name: 'Forthenite',
          singer: 'D-block & S-te-fan',
          imgid: '101029',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Done For Me',
          singer: 'Charlie Puth',
          imgid: '85553',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Skyfall',
          singer: 'Adele',
          imgid: '26070',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Victory',
          singer: 'Two Steps From Hell',
          imgid: '40321',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Nơi mình dừng chân',
          singer: 'Mỹ Tâm',
          imgid: '99800',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Like A Snowflower',
          singer: 'Punch',
          imgid: '99388',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Kataware Toki (かたわれ時)',
          singer: 'RADWIMPS',
          imgid: '68088',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Polaris (ポラリス)',
          singer: 'Aimer',
          imgid: '71318',
          link: '#',
          album: '',
          authors: '',
        },
        {
          name: 'Ex\'s Hate Me',
          singer: 'B Ray',
          imgid: '100672',
          link: '#',
          album: '',
          authors: '',
        },
      ]

  //- Albums

  -
    var
      albums = [
        {
          name: 'The Growing Leaf',
          singer: 'Mons Lvnae',
          imgid: '101024',
          link: '#'
        },
        {
          name: 'In The End (Single)',
          singer: 'Tommee Profitt',
          imgid: '101025',
          link: '#'
        },
        {
          name: '(Reverse) (2019)',
          singer: 'Hồ Mộng Châu (胡梦周)',
          imgid: '101034',
          link: '#'
        },
        {
          name: 'Thói Quen (习惯) (2019)',
          singer: 'Hạ Uyển An(夏婉安)',
          imgid: '100959',
          link: '#'
        },
      ]

  //- tagcloud
  -
    var
      tagcloud = [
        {
          name: 'Acoustic',
          link: 'tag/acoustic.html'
        },
        {
          name: 'Hip-Hop/Rap',
          link: '#'
        },
        {
          name: 'Pop',
          link: '#'
        },
        {
          name: 'Classical',
          link: '#'
        },
      ]

  //- topics
  -
    var
      topics = [
        {
          name: 'Tình Yêu',
          link: '#',
          imgid: 'love'
        },
        {
          name: 'Nhạc Trẻ',
          link: '#',
          imgid: 'nhac-tre'
        },
        {
          name: 'Những Bài Hit',
          link: '#',
          imgid: 'hit-song'
        },
        {
          name: 'Nhạc Việt Bất Hủ',
          link: '#',
          imgid: 'nhac-viet-bat-hu'
        },
        {
          name: 'Nhạc Dance',
          link: '#',
          imgid: 'dance'
        },
        {
          name: 'Hôm nay nghe gì?',
          link: '#',
          imgid: 'today'
        },
      ]
