block data
  //- tagcloud
  -
    var
      tagcloud = [
        {
          name: 'Acoustic',
          link: 'tag/acoustic.html'
        },
        {
          name: 'Hip-Hop/Rap',
          link: '#'
        },
        {
          name: 'Pop',
          link: '#'
        },
        {
          name: 'Classical',
          link: '#'
        },
      ]

  //- topics
  -
    var
      topics = [
        {
          name: 'Tình Yêu',
          link: '#',
          imgid: 'love'
        },
        {
          name: 'Nhạc Trẻ',
          link: '#',
          imgid: 'nhac-tre'
        },
        {
          name: 'Những Bài Hit',
          link: '#',
          imgid: 'hit-song'
        },
        {
          name: 'Nhạc Việt Bất Hủ',
          link: '#',
          imgid: 'nhac-viet-bat-hu'
        },
        {
          name: 'Nhạc Dance',
          link: '#',
          imgid: 'dance'
        },
        {
          name: 'Hôm nay nghe gì?',
          link: '#',
          imgid: 'today'
        },
      ]
