-
  var
    tagcloud = [
      {
        name: 'Acoustic',
        link: 'tag/acoustic.html'
      },
      {
        name: 'Hip-Hop/Rap',
        link: '#'
      },
      {
        name: 'Pop',
        link: '#'
      },
      {
        name: 'Classical',
        link: '#'
      },
    ]
