mixin song-cover(assets="album", imgid="101024", name="Song name", singer="Singer name")
  .song-cover
    a(href='#')
      .song-cover__img
        img(src=`assets/images/${assets}/${imgid}.jpg`, alt='')
        .overlay
          .overlay-play
            i.far.fa-play-circle
    .song-info
      h4.song-info__title
        a(href='#')=name
      p.song-info__sub-title
        a(href='#')=singer
