@media screen and (max-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }

  .navbar {
    position: relative;
  }

  .navbar-brand {
    padding-left: 10px;
  }

  .search__input:focus {
    width: 250px;
  }

  .jumbotron {
    height: 250px;
  }

  .jumbotron__title {
    font-size: 1.3em;
  }

  .jumbotron__text {
    width: 100%;
    font-size: 1em;
    line-height: 1.6;
  }

  /* sidebar */

  .sidebar {
    width: 100%;
    padding: 0;
  }

  .sidebar .widget {
    padding: 0 10px;
  }

  .main .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) and (max-width: 375px) and (max-width: 480px) {
  .main {
    padding-top: 30px;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .navbar-brand {
    padding: 10px 0 0;
    text-align: center;
  }

  .navbar-nav {
    justify-content: space-around;
  }

  .nav-item {
    margin: 0 5px;
  }

  .nav-link {
    font-size: 0.8em;
  }

  .navbar .container {
    flex-direction: column;
  }

  .search {
    margin: 0 10px;
  }

  .search__input,
  .search__input:focus {
    width: 100%;
  }

  .news .row {
    flex-direction: column;
  }

  .news .col {
    width: 100%;
  }

  .jumbotron {
    padding: 0 15px;
  }

  .jumbotron__text {
    width: 100%;
  }

  /* section topic */

  .topic__item {
    flex-grow: 1;
    /* margin-left: 0; */
  }

  .topic__img img {
    width: 100%;
  }

  /* song */

  .song--large {
    flex-direction: column;
  }

  .song__more {
    display: none;
  }

  .news-album__item {
    flex-basis: calc(100% / 3);
  }

  .news-album__item:nth-child(2n + 2) {
    margin-right: 0;
  }

  /* song-page */

  .song-page .news-album__item {
    margin: 0;
  }

  .song-page .news-album__item.d-flex-row {
    flex-direction: column !important;
  }

  .song-page .news-album__item .card-info {
    padding: 15px 10px 10px 10px;
  }

  .song-page .news-album__item > a {
    align-self: center;
  }

  .song:nth-child(1) .song__count,
  .song:nth-child(2) .song__count,
  .song:nth-child(3) .song__count {
    align-self: flex-start;
  }

  .footer {
    padding: 0 10px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__top li {
    margin-bottom: 10px;
  }
}
