@media screen and (max-width: 320px) and (max-width: 480px) {
  .main {
    padding-top: 30px;
  }

  .container {
    width: 100%;
  }

  .navbar .navbar-brand {
    padding: 10px 0 0;
    text-align: center;
  }

  .navbar-nav {
    justify-content: space-around;
  }

  .nav-item {
    margin: 0 5px;
  }

  .nav-link {
    font-size: 0.8em;
  }

  .navbar .container {
    flex-direction: column;
  }

  .search {
    margin: 0 10px;
  }

  .search__input,
  .search__input:focus {
    width: 100%;
  }

  .news .row {
    flex-direction: column;
  }

  .news .col {
    width: 100%;
  }

  /* section topic */

  .topic__item {
    flex-grow: 1;
    /* margin-left: 0; */
  }

  .topic__img img {
    width: 100%;
  }

  /* song */

  .song__more {
    display: none;
  }

  .news-album__item {
    flex-basis: calc(100% / 3);
  }

  .news-album__item:nth-child(2n + 2) {
    margin-right: 0;
  }

  /* song-page */

  .song-page .news-album__item {
    margin: 0;
  }

  .song-page .news-album__item.d-flex-row {
    flex-direction: column !important;
  }

  .song-page .news-album__item .card-info {
    padding: 15px 10px 10px 10px;
  }

  .song-page .news-album__item > a {
    align-self: center;
  }
}
