@import url("https://fonts.googleapis.com/css?family=Roboto&subset=vietnamese");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #65509e;
  transition: all 0.3s;
}

img {
  vertical-align: middle;
}

img:hover {
  opacity: 0.8;
  transition: all 0.3s;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.header {
  margin: 0;
}

/* Button */

.btn {
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
}

.btn-sm {
  font-size: 0.8em;
  padding: 5px 10px;
}

.btn-primary {
  background: #65509e;
  border: 1px solid #47347a;
}

.btn-primary:hover {
  background: #47347a;
}

/*****
  Display
****************/

.d-flex-row {
  flex-direction: row !important;
}

/* Navbar */

.navbar {
  background: #f7f7f7;
  position: fixed;
  margin: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 9999;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navbar-brand {
  font-size: 1.6em;
  padding: 10px 20px 10px 0;
  color: #65509e;
  text-decoration: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-item:hover .nav-link {
  border-bottom: 3px solid #65509e;
  color: #65509e;
}

.nav-link {
  border-bottom: 3px solid transparent;
  color: #92929d;
  padding: 13px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav-item.active .nav-link {
  border-bottom: 3px solid #65509e;
  color: #65509e;
}

.search {
  margin-left: auto;
}

.search__input {
  width: 130px;
  background: url("../images/common/search_icon.png") no-repeat left;
  box-sizing: border-box;
  border: 1px solid #92929d;
  border-radius: 10px;
  outline: 0;
  padding: 5px 0 5px 25px;
  margin: 10px 0;
}

.search__input:focus {
  width: 400px;
  transition: all 0.3s ease-in-out;
}

/* jumbotron */

.jumbotron {
  color: #fff;
  display: flex;
  background: url("../images/jumbotron.jpg") center / cover no-repeat;
  height: 400px;
  position: relative;
}

.jumbotron .container {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.jumbotron__text {
  font-size: 1.2em;
  line-height: 1.5;
  width: 800px;
  text-align: center;
  margin-bottom: 40px;
}

/* main */

.main {
  padding-top: 50px;
}

.main .wrapper {
  flex: 1;
  padding: 10px;
}

.main .container {
  flex-wrap: wrap;
}

/* footer */

.footer {
  background: #fcfcfc;
  padding: 10px 0 20px;
  color: #222;
}

.footer a {
  color: #222;
}

.footer__logo {
  font-size: 2em;
  margin-right: 30px;
}

.footer__top {
  display: flex;
}

.footer__top li {
  margin-right: 20px;
}

.footer .row {
  flex-direction: row;
  align-items: center;
}

/* wrapper-header */

.wrapper-header {
  display: flex;
  align-items: center;
}

.wrapper-header__viewmore {
  margin-left: auto;
}

/* sidebar */

.sidebar {
  width: 320px;
  padding: 10px;
}

/* widget
***************************/

.widget__header {
  display: flex;
  align-items: center;
}

.widget__viewmore {
  margin-left: auto;
}

.widget__viewmore a {
  color: #adb5bd;
}

.widget__viewmore a:hover {
  color: #65509e;
}

/* widget-tagcloud */

.widget-tagcloud__link {
  background: #ebf4f5;
  border-radius: 10px;
  color: #222;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
}

.widget-tagcloud__link:hover {
  background: #65509e;
  color: #fff;
  transition: all 0.3s;
}

/* main */

.main .wrapper {
  flex: 1;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

/* section news */

.news .col {
  width: 50%;
}

/* news-album */

.overlay,
.overlay-play {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* z-index: 1; */
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.overlay--no-opacity {
  opacity: 1;
}

.overlay-play {
  font-size: 3em;
  z-index: 2;
}

.overlay-play i {
  color: #fff;
}

.news-album__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 20%;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

.news-album__item:nth-child(4n) {
  margin-right: 0;
}

.news-album__item:hover .overlay,
.news-album__item:hover .overlay-play {
  opacity: 1;
}

.news-album__item:hover .card-info__title a {
  color: #65509e;
}

.news-album__img img {
  transition: all 0.3s ease-in-out;
}

.news-album__img:hover img {
  transform: scale(1.2);
}

.news-album .col {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  flex: 1;
}

.news-album__img {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.news-album__img img {
  display: block;
  width: 100%;
}

.news-album .card-info {
  padding: 10px 0;
}

/* section topic */

.topic__img {
  border-radius: 10px;
}

.topic .col {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  flex: 1;
}

.topic__item {
  margin-bottom: 30px;
}

.topic .topic__item img {
  transition: all 0.3s;
}

.topic__item:hover img {
  transform: scale(1.2);
}

.topic__item a {
  color: #fff;
}

.topic__item .overlay span {
  font-size: 1.2em;
  margin-top: 10px;
  transition: all 0.3s;
}

.topic__item:hover .overlay span {
  margin-top: 0;
}

.topic__img {
  position: relative;
  overflow: hidden;
}

.topic__img img {
  display: block;
  width: 260px;
  height: 110px;
}

/*****
  song
********************/

.song {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

.song:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.song--large .song__img {
  height: 164px;
}

.song--large .song__img img {
  border-radius: 5px;
  height: 164px;
  width: 164px;
}

.song--large .card-info__title {
  font-size: 2em;
}

.song__count {
  position: relative;
  width: 50px;
  display: flex;
  align-items: center;
}

.song__count span {
  position: absolute;
  left: 15px;
}

.song__count span::before {
  counter-increment: section;
  content: counter(section);
  font: 600 1.2em/1.5 Roboto;
}

.song:nth-child(1) .song__count span::after,
.song:nth-child(2) .song__count span::after,
.song:nth-child(3) .song__count span::after {
  content: "TOP";
  font-size: 12px;
  left: -5px;
  top: 27px;
  position: absolute;
}

.song:nth-child(1) .song__count span::before {
  color: rgb(233, 15, 15);
}

.song:nth-child(2) .song__count span::before {
  color: rgb(14, 233, 61);
}

.song:nth-child(3) .song__count span::before {
  color: rgb(40, 18, 238);
}

.song__img {
  height: 64px;
  padding: 7px 0 7px 7px;
  position: relative;
  overflow: hidden;
}

.song__img img {
  border-radius: 5px;
  height: 64px;
  width: 64px;
}

.song__more {
  margin-left: auto;
  opacity: 0;
}

.song__more a {
  margin-right: 10px;
}

.song__more i {
  font-size: 1.3em;
}

.song:hover .song__more {
  opacity: 0;
}

/* sidebar */

.sidebar {
  width: 320px;
  padding: 10px;
}

/* widget-tagcloud */

.widget-tagcloud__link {
  background: #ebf4f5;
  border-radius: 10px;
  color: #222;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
}

.widget-tagcloud__link:hover {
  background: #65509e;
  color: #fff;
  transition: all 0.3s;
}

/* widget-music */

.widget-music__item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.widget-music__img {
  position: relative;
  overflow: hidden;
}

.widget-music__img img {
  border-radius: 5px;
  height: 64px;
  width: 64px;
}

/* Card */

.card-info {
  padding: 0 0 0 15px;
}

.card-info--medium .card-info__title {
  font-size: 2em;
}

.card-info--medium .card-info__sub-title {
  font-size: 1em;
}

.card-info__album,
.card-info__authors,
.card-info__category {
  color: #a0a0a0;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.card-info__album a,
.card-info__authors a,
.card-info__category a {
  color: #5c4e4e;
}

.card-info__album a:hover,
.card-info__authors a:hover,
.card-info__category a:hover {
  color: #65509e;
}

.card-info--song-page {
  display: flex;
  flex-direction: column;
}

.card-info__title,
.card-info__sub-title {
  margin: 0;
}

.card-info__title {
  margin-bottom: 10px;
}

.card-info__sub-title {
  font-size: 0.8em;
}

.widget-music__play {
  margin-left: auto;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.widget-music__item:hover .widget-music__play {
  opacity: 1;
}

.widget-music__play i {
  font-size: 1.8em;
}

/* widget-singer */

.widget-singer {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
}

.widget-singer__item,
.widget-singer__item--first {
  display: block;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
  padding: 0.25rem;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  max-width: 100%;
  height: 90px;
  overflow: hidden;
}

.widget-singer__item:hover span,
.widget-singer__item--first:hover span {
  opacity: 1;
}

.widget-singer__item span,
.widget-singer__item--first span {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
  height: 100%;
}

.widget-singer__item--first {
  grid-area: 1 / 1 / span 2 / span 2;
  height: 200px;
}

.widget-singer__item--first span {
  font-size: 1.3em;
}

/* Song Page */

.song-page {
  flex-basis: 100%;
}

.song-page .news-album__img {
  width: 260px;
}

.song-page .music-player {
  margin-top: auto;
}

.music-player .music-player__audio {
  width: 100%;
}

.song-page .card-info {
  flex: 1;
  padding-top: 15px;
}

.song-page .card-info__sub-title {
  margin-bottom: 20px;
}

.song-page .news-album__item {
  margin-bottom: 0;
}

/* song-lyrics */

.song-lyrics-text {
  font: 1em/2 sans-serif;
}

/******
  top 100 page
*****************/

.top100 {
  counter-reset: section;
}

.top100 .col {
  flex-grow: 1;
}
