.navbar {
  box-shadow: $box-shadow-navbar;
  padding: 0 1rem;
}

.nav-link {
  color: $black;
  padding: 1rem 0;
}

.nav-item {
  padding: 0 0.5rem;
  border-bottom: 3px solid transparent;

  @include hover {
    border-bottom: 3px solid $primary;
    color: $primary;
    @include transition(all, 0.3s, ease-in-out);
  }

  &.active {
    border-bottom: 3px solid $primary;

    .nav-link {
      color: $primary;
    }
  }
}

.navbar-brand {
  color: $primary;
  font-size: $h2-font-size;
}
