// song

.song-info {
  padding: 0 0 0 15px;

  %song-info {
    color: $gray-500;
    font-size: 0.8em;
    margin-bottom: 5px;

    a {
      margin-left: 5px;
    }
  }

  &__album {
    @extend %song-info;
  }

  &__authors {
    @extend %song-info;
  }

  &__category {
    @extend %song-info;
  }

  &__title {
    font: 700 1em/1 "Roboto";
    margin-bottom: 10px;
  }

  &__singer {
    font-size: 0.8em;
    margin: 0 0 10px;

    a {
      margin-right: 5px;
    }
  }
}

.song-info__album a,
.song-info__authors a,
.song-info__category a {
  color: rgba(black, 0.5);

  @include hover() {
    color: $primary;
  }
}

.song {
  margin: 0.5rem 0;
  @extend .d-flex;
  @extend .rounded;
  @extend .align-items-center;
  @include transition(all, 0.3s, ease-in-out);

  &__count {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .position-relative;
    @include size(50px, auto);

    span {
      position: absolute;
      left: 15px;

      &::before {
        counter-increment: section;
        content: counter(section);
        font: 600 1.2em/1.5 Roboto;
      }
    }
  }

  &__img {
    margin: 7px 0 7px 7px;
    overflow: hidden;
    @extend .position-relative;

    img {
      @extend .rounded;
      @include size(64px);
    }
  }

  &__more {
    right: 10px;
    display: none;
    @extend .position-absolute;
    @include transition(all, 0.3s, ease-in-out);

    a {
      margin-right: 10px;
    }

    i {
      font-size: 1.3em;
    }
  }

  @include hover {
    background: $gray-100;
    box-shadow: $box-shadow;
    @include transition(all, 0.3s, ease-in-out);

    .song__more {
      @extend .d-block;
    }

    .overlay,
    .overlay-play {
      @include opacity(1);
    }
  }

  &--widget {
    margin: 0;
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }

  &--no-hover {
    @include hover {
      box-shadow: none;
      background: none;
    }
  }
}

.song--large .song__img img {
  @extend .rounded;
  @include size(164px);
}

.song--large .song-info__title {
  font-size: 2em;
}

.song:nth-child(1) .song__count span::after,
.song:nth-child(2) .song__count span::after,
.song:nth-child(3) .song__count span::after {
  content: "TOP";
  font-size: 12px;
  left: -5px;
  top: 27px;
  @extend .position-absolute;
}

.song:nth-child(1) .song__count span::before {
  color: $red;
}

.song:nth-child(2) .song__count span::before {
  color: $green;
}

.song:nth-child(3) .song__count span::before {
  color: $blue;
}
