.song-cover {
  margin-bottom: 20px;
  @extend .position-relative;
  @include transition(all, 0.3s, ease-in-out);

  &__img {
    overflow: hidden;
    box-shadow: $box-shadow;
    @extend .rounded;
    @extend .position-relative;

    img {
      @extend .d-block;
      @include transition(all, 0.3s, ease-in-out);
      @include size(100%, auto);
    }
  }

  .song-info {
    padding: 10px 0 0 0;
  }

  @include hover {
    .overlay,
    .overlay-play {
      @include opacity(1);
    }

    img {
      transform: scale(1.2);
    }
  }
}
