// topics

.topics {
  margin-bottom: 20px;
  @extend .position-relative;
  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  @include hover {
    img {
      transform: scale(1.2);
    }

    span {
      transform: translateY(-10px);
    }
  }

  a {
    color: $white;
    font-size: 1.2em;
  }

  span {
    margin-top: 20px;
    @include transition(all, 0.4s, ease-in-out);
  }

  &__img {
    overflow: hidden;
    @extend .rounded;
    @extend .position-relative;

    img {
      @extend .d-block;
      @include transition(all, 0.3s, ease-in-out);
      @include size(100%, 110px);
    }
  }
}
