.widget {
  @extend .mb-3;
}

.widget-tagcloud {
  &__link {
    background: $gray-300;
    color: $black;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    @extend .d-inline-flex;
    @extend .rounded;
    @include transition(all, 0.3s, ease-in-out);

    @include hover {
      background: $primary;
      color: $white;
      text-decoration: $link-decoration;
    }
  }
}

.widget-singer {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;

  &__item {
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    border: $border-width solid $border-color;
    overflow: hidden;
    @extend .d-block;
    @extend .p-1;
    @extend .position-relative;
    @extend .rounded;
    @include size(100%, 90px);

    span {
      background: rgba($black, 0.7);
      color: $white;
      font-size: 0.8em;
      top: 0;
      left: 0;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-center;
      @extend .text-center;
      @extend .position-absolute;
      @include transition(all, 0.3s, ease-in-out);
      @include opacity(0);
      @include size(100%);
    }

    @include hover {
      span {
        @include opacity(1);
      }
    }

    &--first {
      grid-area: 1 / 1 / span 2 / span 2;
      height: 200px;

      span {
        font-size: 1.3em;
      }
    }
  }
}
